body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
padding: 18px 36px;
color: #FFFFFF;
font-weight: 700;
 margin-top: 30px;

}
nav > ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    
}
.nav-title {
    color: #181818;

font-size: 45px;
font-weight: 800;
}
nav li{
    margin-right: 50px;
    
}
nav a{
    text-decoration:none ;
    color:#474747;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right ;
}
.banner{
    padding:30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profilepic{
    width: 500px;
    height: 700px;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}
.banner-name{
    font-size: 60px;
    font-weight: 600;
    margin-top: 5px;
}
/* main section styles */
main{
    max-width: 1140px;
    margin: auto;
}
.main-content{
    background-color: #FFF8F3;
    padding: 130px;
    margin: 130px 0px 130px 0px;
}
.title-all{
    color:  #181818;
   text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;

}
/* about section styles */

.about-details{
    color:  #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}
.about-more-info{
    display:flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}
.info-description{
    color: #474747;
    font-weight: 600;
    
}